<!-- Footer -->
<footer class="page-footer font-small">
      
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright: Andreas Schjødt Nielsen, Anne Besenbacher Porsgaard, Oliver Monberg, Peter Marcus Hoveling
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</body>
</html>
