<% include ../views/partials/header.ejs %>
<div class="mainContent">
    <h1>User confirmation</h1>
    <p>Welcome to the user confirmation page. Your user has been succesfully created</p>
</div>
<% include ../views/partials/footer.ejs %>