<% include ../views/partials/header.ejs %>
<div class="mainContent">
    <h1><%= title %></h1>
    <p>Welcome1 to <%= title %></p>
    <a href='/workoutprogram/createworkoutprogram' class="btn btn-primary" role="button"><i class="fa fa-plus"></i> Create workout program</a>
</div>
<% include ../views/partials/footer.ejs %>